@import '~antd/es/style/themes/default.less';

.main {
  display: flex;
  justify-content: center;
  min-height: ~'calc(100vh - 64px)' !important;
  margin: -24px;

  .content {
    max-width: 1400px;
    padding: 24px;
    overflow: initial;
    :global {
      .ant-tag {
        padding: 0 15px;
        font-size: 14px;
        line-height: 30px;
        span {
          margin-right: 7px;
        }
        .anticon-close {
          font-size: 14px;
        }
      }

      .ant-pagination-simple-pager {
        height: 40px;
        input {
          pointer-events: none;
        }
      }

      .ant-empty-normal {
        margin: 0;
      }

      .ant-input {
        font-size: 24px;
      }

      .ant-list-item {
        cursor: pointer;
        button {
          display: none;
        }
        &:hover {
          button {
            display: block;
          }
        }
      }
    }
  }
  @media screen and (min-width: @screen-xl) {
    .content {
      margin-left: 320px;
    }
  }
}
