@import '~antd/es/style/themes/default.less';

.arrow {
  position: absolute;
  bottom: -3px;
  left: 50%;
  display: block;
  background: transparent;
  border-style: solid;
  border-width: 4px;
  border-top-color: transparent;
  border-right-color: #3d464d;
  border-bottom-color: #3d464d;
  border-left-color: transparent;
  transform: translateX(-50%) rotate(45deg);
}
.main {
  height: ~'calc(100vh - 64px - 180px - 2px)';
  min-height: ~'calc(100vh - 64px - 180px - 2px)' !important;
}

.content {
  position: relative;
  height: ~'calc(100vh - 64px - 180px - 2px)';
  min-height: ~'calc(100vh - 64px - 180px - 2px)' !important;

  .loading {
    padding: 12px;
    text-align: center;
  }

  .tip {
    .compact {
      padding: 5px 10px;
      color: white;
      background-color: #3d464d;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 3px;
      cursor: pointer;
    }
  }

  .popup {
    .highlightPopup {
      max-width: 300px;
      max-height: 100px;
      padding: 0.25rem 0.5rem;
      overflow-y: auto;
      color: white;
      font-size: 12px;
      background-color: #3d464d;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 3px;
    }
  }
}

.sidebar {
  overflow-x: hidden;
  :global {
    .ant-tag {
      padding: 0 15px;
      font-size: 14px;
      line-height: 30px;
    }
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0;
    }
  }

  .title {
    padding: 24px;
  }
  .sidebarItemDark {
    &:hover {
      background-color: @layout-header-background;
    }
  }

  .sidebarItem {
    cursor: pointer;
    &:hover {
      background-color: @primary-1;
    }

    .dataImage {
      border: 1px dashed;

      img {
        width: 100%;
        overflow: hidden;
      }
    }

    .contentMark {
      font-size: 18px;
    }

    .labelPage {
      font-size: 18px;
      line-height: 32px;
    }
  }
}

.disabled {
  opacity: 0.9;
  pointer-events: none;
}
