@import '~antd/es/style/themes/default.less';

.menuList {
  :global {
    .ant-menu-inline > .ant-menu-item {
      height: @layout-trigger-height;
      line-height: @layout-trigger-height;
    }

    .ant-select-selection-selected-value {
      float: unset;
      text-align: center;
    }
  }
}

.dark {
  color: @layout-trigger-color;
  background-color: @layout-sider-background;

  :global {
    .ant-descriptions-title,
    .ant-descriptions-item-label,
    .ant-descriptions-item-content,
    .ant-typography {
      color: @layout-trigger-color;
    }
  }
}
