@import '~antd/es/style/themes/default.less';

.siderList {
  position: fixed;
  left: 0;
  height: 100vh;
  overflow: auto;
}

.dark {
  color: rgba(255, 255, 255, 0.65);

  :global {
    .ant-descriptions-title,
    .ant-descriptions-item-label {
      color: rgba(255, 255, 255, 0.85);
    }
    .ant-descriptions-item-content {
      color: rgba(255, 255, 255, 0.65);
    }
    .ant-typography {
      color: rgba(255, 255, 255, 0.65);
    }
  }
}
